In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import password
engine = create_engine("postgresql+psycopg2://yingfeng:password@/homework_db")
connection = engine.connect()

In [2]:
salaries = pd.read_sql("SELECT * FROM salaries", connection)
salaries.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [ ]:
hist = salaries["salary"].hist(bins=10)
hist.set_title("Salary distribution")
hist.set_xlabel("Salaries")
hist.set_ylabel("# of employees")

In [ ]:
employees = pd.read_sql("SELECT * FROM employees", connection)
employees_final = employees.rename(columns={"emp_title_id":"title_id"})
employees_final.head()

In [ ]:
titles = pd.read_sql("SELECT * FROM titles", connection)
titles.head()

In [ ]:
combined = pd.merge(salaries, employees_final, on="emp_no", how="inner")
combined_2 = pd.merge(combined, titles, on="title_id", how="inner")
combined_final = combined_2.dropna()
combined_final.head()

In [ ]:
salary_by_title = combined_final.groupby(combined_final["title"]).mean()
del salary_by_title['emp_no']
salary_by_title.reset_index()

In [ ]:
bar = salary_by_title.plot.bar()
bar.set_title("Salary by job title")
bar.set_xlabel("Job title")
bar.set_ylabel("salary")